.container {
    width: 290px;
    margin: auto;
    color: #FFF;
    text-align: center;
}

.container>*+* {
    margin-top: 7px;
}

form {
    margin-bottom: auto;
}

.form-group,
.form-check {
    margin-bottom: 5px;
}