.container {
  width: 290px;
  margin: auto;
  color: #FFF;
  text-align: center;
}

.container>*+* {
  margin-top: 7px;
}

.container form {
  margin-bottom: auto;
}

.form-group,
.form-check {
  margin-bottom: 5px;
}

.form-check input {
  margin-top: 0.43em;
}